.scores {
  display: inline-flex;
  flex-direction: column;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 16px;
}

.player {
  display: flex;
  align-items: center;

  &:first-of-type {
    margin-bottom: 16px;
  }

  .playerTitle {
    margin: 0;
    margin-right: 12px;
    width: 30px;
    text-align: center;
  }
}

.pointsGroup {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  border: 3px solid rgba(255, 255, 255, 0.02);

  &:before {
    content: "";
    width: 3px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.02);
    display: inline-block;
    margin-left: 14px;
    transform: rotate(45deg) scaleY(1.5);
  }

  &.borderLeft {
    border-left-color: white;
  }
  &.borderTop {
    border-top-color: white;
  }
  &.borderBottom {
    border-bottom-color: white;
  }
  &.borderRight {
    border-right-color: white;
  }
  &.borderMiddle:before {
    background-color: white;
  }
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
  width: 2px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
}
