.actions {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  width: 240px;
  border-radius: 20px;
  padding: 12px;

  .actionsType {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.playerAction {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;

  > span {
    margin-top: 4px;
    font-size: 24px;
    text-transform: uppercase;
  }
}

.waitForResponse {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0 40px 0;

  svg {
    margin-bottom: 8px;
  }
}

.divider {
  margin: 12px 0;
  display: block;
  background-color: #fff;
  height: 2px;
  border-radius: 2px;
  opacity: 0.05;
  width: 200px;
}

.action {
  border: none;
  font-size: 16px;
  border-radius: 50px;
  height: 40px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:last-child {
    margin-bottom: 0;
  }
}
