.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  background-color: #0d0c0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 32px 32px 32px;
}

.loginTitle {
  margin-top: 0;
}

.socialLoginBtn {
  color: white;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  padding: 12px 24px;
  cursor: pointer;
  width: 280px;
  display: inline-flex;
  align-items: center;

  .loginIcon {
    margin-right: 16px;
  }

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &.anonymous {
    background-color: #f36c45;
  }

  &.google {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.7);
  }

  &.facebook {
    background-color: #3b5998;
  }
}
