.playedCards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 244px;
}

.playerCards {
  display: flex;
  justify-content: space-between;
  width: 500px;

  &.isCurrentPlayer {
    position: relative;
    top: -120px;
    left: 40px;
  }
}
