.header {
  height: 60px;
  flex-shrink: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.title {
  margin: 0;
}

.menuButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 2px 8px;
  margin-right: -8px;
}

.menuList {
  border-radius: 4px;
  border: none;

  & [data-reach-menu-item] {
    padding: 10px 16px;
    color: rgba(0, 0, 0, 0.9);
  }

  & [data-reach-menu-item][data-selected] {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.9);
  }
}

.menuIcon {
  margin-right: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 8px;
}
