.waiting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatars {
  display: flex;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #dee2e6;
  margin: 0 16px;
}
