.player {
  display: flex;
  position: absolute;

  &.top {
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    align-items: flex-start;

    .playerAvatar {
      margin-right: 16px;
    }
  }

  &.bottom {
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    align-items: flex-end;

    .playerAvatar {
      margin-right: 16px;
    }
  }

  &.left {
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    flex-direction: column;

    .playerAvatar {
      margin-bottom: 16px;
    }
  }

  &.right {
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    align-items: flex-end;
    flex-direction: column;

    .playerAvatar {
      margin-bottom: 16px;
    }

    .otherUserCards {
      justify-content: flex-end;
    }
  }
}

.playerAvatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(255, 255, 255, 0.1);
  transition: all 0.2s;

  &.isTheirTurn {
    border-color: #4690ff;
    box-shadow: 0 0 8px 2px #000;
  }
}

.currentUserCards {
  display: flex;
  flex-direction: row;
  width: 367px;
  height: 180px;

  &.disabled {
    opacity: 0.7;
  }
}

.otherUserCards {
  display: flex;
  flex-direction: row;
  width: 144px;
  height: 64px;

  > span {
    display: inline-block;
    width: 40px;
    height: 64px;
    background-color: #36393f;
    border-radius: 4px;
    margin: 0 4px;
  }
}
